/* Reseta as margens e o padding do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
}

#livroInput {
    width: 100%;
    max-width: 500px;
    padding: 12px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

#livroInput:focus {
    outline: none;
    border-color: #007BFF;
}

/* Botão de busca */
#buscarBtn {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#buscarBtn:hover {
    background-color: #0056b3;
}

/* Resultados dos livros */
#resultados {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.livro {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.livro:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.livro img {
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

.livro h3 {
    font-size: 18px;
    margin-top: 15px;
    color: #333;
}

.livro p {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    line-height: 1.6;
}

.livro a {
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
}

.livro a:hover {
    text-decoration: underline;
}

/* Mensagem de erro */
#resultados p {
    font-size: 18px;
    color: #FF0000;
    text-align: center;
    margin-top: 20px;
}
